#container-noticias1 img {
  width: 100%;
}

/* Estilo para la columna izquierda */
.left {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 5px;
}

/* Estilo para la columna derecha - fila 1 */
.right-top {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 5px;
}

/* Estilo para la columna derecha - fila 2 */
.right-bottom {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 5px;
}

#container-noticias1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 10px 0;
}

@media (max-width: 600px) {
  #container-noticias1{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .left,
  .right-top,
  .right-bottom {
    grid-column: 1 / 2;
    grid-row: auto;
  }
}

.antetitulo{
  display: block;
  margin: 5px 0;
  color: white;
  border-radius: 10px;
  width: max-content;
  text-align: center;
}