#columnistas-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 10px 0;
}

#columnistas-section img {
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

#columnistas-section img {
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

#columnistas-section > a:nth-child(1) > .columnistas-article > img{
  object-fit: cover;
  object-position: top;
}

#columnistas-section > a:nth-child(2) > .columnistas-article > img{
  object-fit: cover;
  object-position: top;
}

#columnistas-section > a:nth-child(3) > .columnistas-article > img{
  object-fit: cover;
  object-position: top;
}

#columnistas-section > a:nth-child(4) > .columnistas-article > img{
  object-fit: cover;
  object-position: 0 25%;
}

.columnistas-article {
  height: 100%;
}

@media (max-width: 600px) {
  #columnistas-section {
    grid-template-columns: 1fr 1fr;
  }
}

.resume-text{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp:3
}
