:root {
  --article-body-tablet-offset: rem(32px);
  --grid-6-1-column-content: calc(
    1 * ((100% - var(--grid-column-gap) * 5) / 6 + var(--grid-column-gap)) -
      var(--grid-column-gap)
  );
  --grid-6-1-column-content-gap: calc(
    1 * ((100% - var(--grid-column-gap) * 5) / 6 + var(--grid-column-gap))
  );
  --grid-8-1-column-content: calc(
    1 * ((100% - var(--grid-column-gap) * 7) / 8 + var(--grid-column-gap)) -
      var(--grid-column-gap)
  );
  --grid-8-1-column-content-gap: calc(
    1 * ((100% - var(--grid-column-gap) * 7) / 8 + var(--grid-column-gap))
  );
  --grid-8-2-column-content: calc(
    2 * ((100% - var(--grid-column-gap) * 7) / 8 + var(--grid-column-gap)) -
      var(--grid-column-gap)
  );
  --grid-8-3-column-content: calc(
    3 * ((100% - var(--grid-column-gap) * 7) / 8 + var(--grid-column-gap)) -
      var(--grid-column-gap)
  );
  --grid-8-4-column-content: calc(
    4 * ((100% - var(--grid-column-gap) * 7) / 8 + var(--grid-column-gap)) -
      var(--grid-column-gap)
  );
  --grid-10-1-column-content: calc(
    1 * ((100% - var(--grid-column-gap) * 9) / 10 + var(--grid-column-gap)) -
      var(--grid-column-gap)
  );
  --grid-10-2-column-content: calc(
    2 * ((100% - var(--grid-column-gap) * 9) / 10 + var(--grid-column-gap)) -
      var(--grid-column-gap)
  );
  --grid-10-3-column-content: calc(
    3 * ((100% - var(--grid-column-gap) * 9) / 10 + var(--grid-column-gap)) -
      var(--grid-column-gap)
  );
  --grid-10-4-column-content: calc(
    4 * ((100% - var(--grid-column-gap) * 9) / 10 + var(--grid-column-gap)) -
      var(--grid-column-gap)
  );
  --grid-10-1-column-content-gap: calc(
    1 * ((100% - var(--grid-column-gap) * 9) / 10 + var(--grid-column-gap))
  );
  --grid-12-1-column-content-gap: calc(
    1 * ((100% - var(--grid-column-gap) * 11) / 12 + var(--grid-column-gap))
  );
}
._g {
  position: relative;
  box-sizing: border-box;
  grid-template-rows: max-content;
  grid-auto-flow: dense;
}
._g {
  grid-template-columns: repeat(4, 1fr);
}

:root {
  --grid-column-gap: 1.3125rem;
  --grid-column-gap-justify: -1.3125rem;
  --grid-offset: 1.25rem;
  --grid-offset-justify: -1.25rem;
}
._g {
  grid-column-gap: 1.3125rem;
}
._g-o {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
._g-o {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
}

._re {
  width: 100%;
  height: auto;
}
._pr {
  position: relative;
}
._ls {
  list-style: none;
  padding: 0;
  margin: 0;
}
._db {
  display: block;
}
._df {
  display: flex;
}

._dg {
  display: grid;
}
._dn {
  display: none;
}

._fl {
  float: left;
}
._fr {
  float: right;
}
body {
  background: #0e1116;
  color: #111;
}
a {
  text-decoration: none;
  color: inherit;
}

figure a:hover {
  opacity: 1;
}

.b_row-o .c--c .c_a {
  justify-content: center;
}
.b_row-o .c_d {
  margin-bottom: 0.9375rem;
}
.b-m .b_h + .b_hr-s {
  display: none;
}
.b-m .c-m .c_tx {
  padding-top: 1.0625rem;
}
.b-m .c-m .c_t {
  font-size: 1.875rem;
  line-height: 2rem;
  letter-spacing: -0.0675rem;
}
.b-m .c-m .c_t_i {
  top: -0.1875rem;
}

.b-m .c-d_t {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: -0.018125rem;
  font-weight: 600;
}
.b-m .c-d.c--c .c_t {
  font-weight: 700;
}
.b-m .b_st {
  margin: 1.25rem 0 0;
  padding-top: 1.25rem;
}
.b-m .b_hr-s-t {
  margin-bottom: 1.25rem;
}
.b-m .b_hr-s-b {
  border-bottom: double #4a4a4a;
  margin-top: 2.5rem;
}
.c {
  padding-bottom: 1.125rem;
  margin-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #ebebeb;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}
.c:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.c_m {
  margin-bottom: 0.8125rem;
}
.c_m_p {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  text-align: center;
  padding: 0.25rem 0 0.3125rem;
  color: #666;
}
.c_m_p_a {
  padding-left: 0.125rem;
  letter-spacing: normal;
  color: #111;
  text-transform: uppercase;
}
.c_m_p_a span {
  text-transform: none;
}
.c .c_h {
  display: flex;
  flex-direction: column;
}

.c_t {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: -0.018125rem;
  font-weight: 700;
  margin: 0 0 0.75rem;
}
.c_t-r a {
  font-weight: 400;
}
.c_t_i {
  top: 0.0625rem;
}
.c_t-xxs {
  line-height: 0.7 !important;
}

.c_a {
  font-size: 0.625rem;
  line-height: 0.75rem;
  text-transform: uppercase;
  color: #666;
}
.c_a_l {
  color: inherit;
  text-transform: none;
}
.c_a_vr {
  padding: 0 0.125rem;
}
.c_d {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  color: #4a4a4a;
  margin: 0.5rem 0 0;
}
.c_ap {
  margin-top: 1.125rem;
  text-align: left;
}
.c_r {
  text-align: left;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 700;
  margin-top: 1.0625rem;
}
.c_r_i {
  padding-left: 2.0625rem;
  position: relative;
}
.c_r_i:nth-child(n + 2) {
  margin-top: 0.1875rem;
}
.c_r_i:before {
  content: "";
  width: 1.5625rem;
  height: 0.0625rem;
  background: #111;
  display: inline-block;
  position: absolute;
  top: 0.4375rem;
  left: 0;
}
.c_r_s {
  width: 1.0625rem;
  height: 1.0625rem;
  top: -0.0625rem;
  margin-right: 0.25rem;
  display: inline-block;
  vertical-align: top;
}

.c-r .c_t {
  font-weight: 400;
}

.c-o .c_t {
  font-style: italic;
}

.c_t-xxs a {
  font-size: 75%;
  line-height: 1.1;
}
.c_t-i {
  font-style: italic;
}
.c--c {
  text-align: center;
}
.c_t_i {
  width: 1.0625rem;
  height: 1.0625rem;
  bottom: -0.0625rem;
  margin-right: 0.25rem;
  position: relative;
  display: inline-block;
}

.c_rcp {
  margin-top: 1.5rem;
}
.c_rcp .c_rcp_d {
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 0.00375rem;
  color: #0006;
}
.c-m .c-t {
  margin-bottom: 1.875rem;
}
.c-m .c_t-r {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.125rem;
  letter-spacing: -0.03125rem;
}
.c-m .c_m {
  margin-bottom: 0;
}
.c-m-l .c_m {
  margin-top: 1.25rem;
}
.c-m-r .c_m {
  grid-column: 5/13;
}
.c-m-r .c_tx {
  grid-column: 1/5;
}

.b {
  margin-top: 2.5rem;
  clear: both;
}
.b_h {
  border-top: 0.5rem solid #000;
  border-bottom: 0.0625rem solid #000;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.25rem;
}
.b_hr {
  border-bottom: double #000;
  grid-column: 1/13;
  margin-top: calc(var(--grid-column-gap) / 2);
}
.b_hr-s {
  border-bottom: 0.5rem solid #000;
}
.b_hr-s-b {
  border-bottom: double #4a4a4a;
}
.b_h_w {
  flex: 1 0 auto;
}
.b_h_w:after {
  content: "";
  width: 90%;
  max-width: 13.125rem;
  height: 0.1875rem;
  background: #000;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.b_h_t {
  font-weight: 900;
  font-size: 1.375rem;
  line-height: 1.375rem;
  letter-spacing: -0.034375rem;
  color: #222;
  padding-bottom: 0.9375rem;
  padding-top: 1.125rem;
  display: inline-block;
}
.b_row-2 .c {
  grid-column: span 2;
}
.b ._g-o {
  padding-left: 0;
  padding-right: 0;
}

.b_st {
  border-top: 0.0625rem solid #ebebeb;
  margin-top: 1.25rem;
  padding-top: 1.25rem;
}
.b_sb {
  padding-bottom: 1.25rem;
}
.b-t_w {
  border-bottom: double #4a4a4a;
  padding-bottom: 1.25rem;
}
.b-t .c_t {
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: -0.018125rem;
  font-weight: 600;
}

.b-t .c_t_i {
  top: 0.0625rem;
}
.b-t_a:first-of-type .c:first-of-type .c_t,
.b-t_b + .b-t_a .c:first-of-type .c_t-r {
  font-weight: 400;
}
.b-t-1 .c_kg {
  order: 0;
}
.b-t-1 .c_h,
.b-t-1 .c_d {
  order: 5;
}
.b-t-1 .c_a {
  order: 15;
  margin-top: 15px;
  margin-bottom: 0;
}
.b-t-1 .c_a ~ .c_ap {
  margin-top: 0;
  margin-bottom: 0.9375rem;
}
.b-t-1 .c_ap {
  order: 7;
}
.b-t-1 .c_r,
.b-t-1 .c_t {
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: -0.025rem;
  font-weight: 700;
}
.b-t-1 .c-o .c_d {
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
.b-t-1 .c-o.c--c .c_t {
  font-size: 1.25rem;
  line-height: 1.375rem;
  letter-spacing: -0.000625rem;
}
:root {
  --classifieds-gap: rem(20px);
}

@media (min-width: 768px) {
  ._g {
    grid-template-columns: repeat(8, 1fr);
  }
  ._g-md {
    display: grid;
  }
  :root {
    --grid-column-gap: 1.8125rem;
    --grid-column-gap-justify: -1.8125rem;
    --grid-offset: 1.625rem;
    --grid-offset-justify: -1.625rem;
  }
  ._g {
    grid-column-gap: 1.8125rem;
  }
  ._g-o {
    max-width: 47.9375rem;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
  }
  .b-m .c-m .c_t {
    font-size: 2.5rem;
    line-height: 2.625rem;
    letter-spacing: -0.08625rem;
  }
  .b-m .c-m .c_t-r {
    font-size: 2.875rem;
    line-height: 3.125rem;
    letter-spacing: -0.03125rem;
  }
  .b-m .c-m .c_t-r .c_t_i {
    top: -0.5rem;
  }
  .b-m .c-m-t .c_tx {
    padding: 1.0625rem 2.25rem;
  }
  .b-m .b_st {
    margin: 1.25rem 0 0;
    padding-top: 1.25rem;
    align-items: flex-start;
  }
  .b-m .b_hr-s-t {
    margin-bottom: 2.5rem;
  }
  
  .b-f .b_col {
    grid-column: span 4;
  }
  .b-f_c.b_col {
    display: block;
  }
  .c--m-m .c_m {
    display: none;
  }
  .c-m-l .c_tx,
  .c-m-r .c_tx {
    display: flex;
    flex-direction: column;
  }
  .c-m-l.c--c .c_tx,
  .c-m-r.c--c .c_tx {
    justify-content: center;
  }
  .c-m-l {
    display: grid;
  }
  .c-m-l .c_m {
    grid-column: 1/5;
    margin-top: 0;
    margin-bottom: 0;
  }
  .c-m-l .c_tx {
    grid-column: 5/9;
  }
  .c-m-l.c--c .c_t-r {
    margin-bottom: 3.75rem;
  }
  .c-m-l.c--c .c_a {
    order: 1;
    margin-bottom: 0;
    margin-top: 1.4375rem;
  }
  .b {
    margin-top: 2.5rem;
  }
  .b_h {
    margin-bottom: 2.5rem;
  }
  .b_h_t {
    font-size: 1.625rem;
    line-height: 1.625rem;
    letter-spacing: -0.040625rem;
  }
   .b_cnb-md .c {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .b_st {
    margin-top: 1.25rem;
    padding-top: 1.25rem;
  }
  .b_st-r-md {
    border-top: unset;
    margin-top: unset;
    padding-top: unset;
  }
  .b_sb {
    padding-bottom: 2.5rem;
  }
  .b_row-md > .c:nth-of-type(n + 2),
  .b_row-md > .b_col:nth-of-type(n + 2) {
    position: relative;
  }
  .b_row-md > .c:nth-of-type(n + 2):before,
  .b_row-md > .b_col:nth-of-type(n + 2):before {
    content: "";
    height: 100%;
    width: 1px;
    background: #dedede;
    left: calc(var(--grid-column-gap) / 2 - var(--grid-column-gap));
    top: 0;
    position: absolute;
  }
  .b-t_w {
    padding-bottom: 1.25rem;
  }
  .b-t_w {
    padding-bottom: 2.5rem;
  }
  .b-t-1 .b-t_d-2 .c {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--grid-column-gap);
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .b-t-1 .b-t_d-2 .c:nth-of-type(2) {
    position: relative;
  }
  .b-t-1 .b-t_d-2 .c:nth-of-type(2):before {
    content: "";
    height: 100%;
    width: 1px;
    background: #dedede;
    left: calc(var(--grid-column-gap) / 2 - var(--grid-column-gap));
    top: 0;
    position: absolute;
  }
  .b-t-1 .b-t_d-2 .c_m {
    grid-row: 1/20;
    grid-column: 1;
    margin-bottom: 0;
    order: unset;
  }
  .b-t-1 .b-t_d-2 .c_kg,
  .b-t-1 .b-t_d-2 .c_h,
  .b-t-1 .b-t_d-2 .c_a,
  .b-t-1 .b-t_d-2 .c_d,
  .b-t-1 .b-t_d-2 .c_r,
  .b-t-1 .b-t_d-2 .c_l,
  .b-t-1 .b-t_d-2 .c_ap {
    grid-column: 2;
    order: unset;
  }
  .b-t-1 .b-t_d-2 .c_a {
    margin-top: 0;
  }
  .b-t-1 .b-t_d-2 .c_kg {
    margin-bottom: 0.5rem;
  }
  .b_row-s + .b_hr {
    display: none;
  }
}
@media (min-width: 768px) and (min-width: 768px) and (max-width: 1000.98px) {
  ._g-md-none {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1000.98px) {
  .b-m .c-m .c_tx {
    padding-top: 2.1875rem;
  }
  .b-m .c-m-l .c_tx {
    padding-top: unset;
  }
  .b-m .c-d:nth-of-type(odd) {
    position: relative;
  }
  .b-m .c-d:nth-of-type(odd):before {
    content: "";
    height: 100%;
    width: 1px;
    background: #dedede;
    right: calc(var(--grid-column-gap) / 2 - var(--grid-column-gap));
    top: 0;
    position: absolute;
  }
  .b-m .c-d:nth-of-type(3) {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .b-m .c-d:nth-of-type(1):after {
    content: "";
    display: block;
    position: absolute;
    height: 18px;
    border-bottom: 0.0625rem solid #ebebeb;
    background: #fff;
    left: 100%;
    width: var(--grid-column-gap);
    bottom: -1px;
    z-index: 1;
  }
  .b-f_c.b_col {
    display: block;
    padding-top: 1.25rem;
    margin-top: 1.25rem;
    border-top: 0.0625rem solid #dedede;
    grid-column: span 8;
  }
  .b-f_c.b_col:before {
    display: none;
  }
  .b-t_a:first-of-type .c:first-of-type .c_t{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1001px) {
  ._g {
    grid-template-columns: repeat(12, 1fr);
  }
  ._g-lg {
    display: grid;
  }
  :root {
    --grid-column-gap: 1.9375rem;
    --grid-column-gap-justify: -1.9375rem;
    --grid-offset: 1.375rem;
    --grid-offset-justify: -1.375rem;
  }
  ._g {
    grid-column-gap: 1.9375rem;
  }
  ._g-o {
    max-width: none;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
  }
  .b-m .c-m-t .c_tx {
    padding: 2.25rem 4.75rem;
  }
  .c-m .c-t {
    margin-bottom: 2.5rem;
  }
  .c-m .c_t-r {
    margin-bottom: 1.875rem;
  }
  .c-m-l.c--c .c_tx,
  .c-m-r.c--c .c_tx {
    padding: 0 var(--grid-6-1-column-content);
  }
  .c-m-l .c_t,
  .c-m-r .c_t {
    font-size: 2rem;
    line-height: 2.0625rem;
  }
  .c-m-l .c_t_i,
  .c-m-r .c_t_i {
    top: -0.1875rem;
  }
  .c-m-l .c_t-r,
  .c-m-r .c_t-r {
    font-size: 2.8125rem;
    line-height: 3.125rem;
    letter-spacing: -0.03125rem;
    margin-bottom: 3.0625rem;
  }
  .c-m-l .c_t-r .c_t_i,
  .c-m-r .c_t-r .c_t_i {
    top: -0.5rem;
  }
  .c-m-l .c_m {
    grid-column: 1/7;
  }
  .c-m-l.c--c {
    grid-column-gap: 0;
  }
  .c-m-l.c--c .c_m {
    margin-right: calc(var(--grid-column-gap-justify) / 2);
  }
  .c-m-l .c_tx {
    grid-column: 7/13;
  }
  .c-m-r .c_m {
    margin-bottom: 0;
  }
  .c-m-t .c_tx,
  .c-m-t .c_m {
    grid-column: 1/13;
  }
  .c-m-t.c--d {
    text-align: left;
  }
  .c-m-t.c--d .c_tx {
    display: grid;
    grid-column-gap: var(--grid-column-gap);
    grid-template-columns: repeat(12, 1fr);
  }
  .c-m-t.c--d .c_h {
    grid-column: 1/7;
    grid-row: 1/9;
  }
  .c-m-t.c--d .c_a,
  .c-m-t.c--d .c_d {
    grid-column: 8/12;
  }
  .c-m-t.c--d .c_a {
    grid-row: 2;
    margin-bottom: 0;
    margin-top: 2.8125rem;
  }
  .c-m-t.c--d .c_t,
  .c-m-t.c--d .c_t-r {
    font-size: 2.875rem;
    line-height: 3.125rem;
    letter-spacing: -0.031875rem;
  }
  .c-m-t.c--d.c--c .c_h {
    grid-column: 2/7;
  }
  .b {
    margin-top: 4.375rem;
  }
  .b_h {
    padding-top: 1.75rem;
    margin-bottom: 2.5rem;
  }
  .b_row-4-lg .c {
    grid-column: span 3;
  }
  .b_row-5-lg .c {
    grid-column: span 2;
  }
  .b_row-6-lg .c {
    grid-column: span 2;
  }

  .b_st,
  .b_st-lg {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
  }
  .b_st-r-md,
  .b_st-r-lg {
    border-top: unset;
    margin-top: unset;
    padding-top: unset;
  }
  .b_sb {
    padding-bottom: 2.5rem;
  }
  .b-t_a:first-of-type .c:first-of-type .c_t,
  .b-t_b + .b-t_a .c:first-of-type .c_t {
    font-size: 1.625rem;
    line-height: 1.875rem;
    letter-spacing: -0.0375rem;
    font-weight: 700;
  } 
  .b-t-1 .b-t_d-2 .c {
    grid-column: span 6;
  }
  .b-t-1 .b-t_d-2 .c_t {
    font-size: 1.25rem;
    line-height: 1.4375rem;
  }
}

@media (min-width: 1199px) {
  ._g-o {
    max-width: 74.9375rem;
  }
  .b-m .c-m-t .c_tx {
    padding: 2.25rem 9.375rem;
  }
}
@media (max-width: 767.98px) {
  .b-m .c-m .c_t-r {
    font-size: 2.375rem;
    line-height: 2.5rem;
    letter-spacing: -0.03125rem;
  }
  .b-m .c-m .c_t-r .c_t_i {
    top: -0.25rem;
  }
  .b-t-1 .b-t_d-2 {
    display: block;
  }
  .b-t-1 .b-t_d-2 .c:before{
    display: none;
  }
}
