/* @import url("../assets/styles/fonts.css");
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: var(--font-principal);
} */
.main-project {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p, span, p.c_d, span.c_a_l, span.c_m_p_a{
  color: #FDFDFD;
}

.c_a a{
  color: #FDFDFD
}

.b_col h1, .b_col h2, .c_h h2{
  color: #adfd00;
}

span.b_h_t{
  color: #2DADFF;
}

h1,h2{
  color: #2DADFF;
}


.button-active {
    background-color: #9D5929;
    color: #FDFDFD;
  }
  
  .button-inactive {
    background-color: #CBC5C0;
    color: #393939;
  }
  
  @media screen and (max-width: 768px) {
    .pdf-responsive{
      width: 100vw !important;
    }
  }
  
  